<!DOCTYPE HTML>    
<script>
$( document ).ready(function() {
 ShowAllCity();
 <% if(page > 1){%>
    $("html, body").animate({ scrollTop: "<%- (page-1)*1000+455 %>px"} , 500, "swing");
    <% } %>
});
</script>   
<h2 id="title">作夥找人</h2>
<div id="search">
    <div id="inputAlias">
        <input type="text" name="alias" id="alias1" class="alias" placeholder="輸入暱稱">
    </div>
    <!-- <label style="font-size: 22px; color:#533828; display: inline;">疾病</label> -->
    <div id="inputDisease" style="display: inline;">
        <select id="disease1" class="disease">
            <option value="" selected="true">選擇疾病</option>
            <option value='1'>鼻咽癌</option>
            <option value='2'>鼻腔/副鼻竇癌</option>
            <option value='3'>口腔癌</option>
            <option value='4'>口咽癌</option>
            <option value='5'>下咽癌</option>
            <option value='6'>喉癌</option>
            <option value='7'>唾液腺癌</option>
            <option value='8'>甲狀腺癌</option>
            <option value='999'>其它</option>
        </select>
    </div>

    <!-- <label style="font-size: 22px; color:#533828;">居住地</label> -->
    <div id="inputPlace" style="display: inline;">
        <select id="place1" class="place">
            <option value="" selected="true">選擇地區</option>
        </select>
    </div>

    <!-- <label style="font-size: 22px; color:#533828;">身分</label> -->
    <div id="inputUserType" style="display: inline;">
        <select id="userType1" class="userType">
            <option value="" selected="true">選擇身分</option>
            <option value='P'>病友</option>
            <option value='F'>家屬</option>
            <option value='S'>社工師</option>
            <option value='D'>醫生</option>
            <option value='RN'>護理師</option>
            <option value='N'>一般民眾</option>
        </select>
    </div>

    <button value="搜尋" onclick="search(0)" id="searchButton">
        <img src="/images/img_forum/search_icon.png">搜尋
    </button>
    <br>
</div>
<hr>
<div id="searchResult" style="float: left; height: 100%;">
   <div id="searchList">
    <% if (users.length >0) { %>
    <% for(i = 0; i < users.length; i++) { %>
    <div class="friend">
        <div class="image">
            <img class="imgUser" src="<%- users[i].img -%>" onclick="toProfile(<%- users[i].id %>)" style="margin:10px; height:80px">
        </div>
        <div class="friendMid">

            <div style="margin-top: 10px; display: inline-block;  width: 100%; font-size: 24px;"><a href="/profile/?<%- users[i].id %>" style="font-size: 24px;"><%- users[i].alias %></a><%- users[i].authorType %> <% if(users[i].type=="D" || users[i].type=="S" || users[i].type=="RN"){ %> <%- users[i].authorIcon %> <%}%></div>
            <br>
            <span id="btnGroup">
              <% if (users[i].isFriend==-1) { %>
              <div class='status'>已封鎖&nbsp&nbsp</div><button type='button' class='button' onclick='removeBlack(this.parentNode, "<%- users[i].id %>")'>解除封鎖</button><br>
              <% }else if(users[i].isFriend==0){ %>
              <button type='button' class='button' onclick='addFriend(this.parentNode, <%- users[i].id %>)'>加為好友</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type='button' class='button btnForbbiden' onclick='addBlack(this.parentNode, <%- users[i].id %>)'>封鎖</button><br>
              <% }else if(users[i].isFriend==1){ %>
              <div class='status'>要求加為好友&nbsp&nbsp</div><button type='button' class='button' onclick='confirmFriend(this.parentNode, "<%- users[i].id %>")'>確認好友</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type='button' class='button btnForbbiden' onclick='addBlack(this.parentNode, <%- users[i].id %>)'>封鎖</button><br>
              <% }else if(users[i].isFriend==2){ %>
              <!--<div class='status'>已送出好友邀請&nbsp&nbsp</div>--><button type='button' class='button' onclick='removeAddFriend(this.parentNode, "<%- users[i].id %>")'>收回邀請</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type='button' class='button btnForbbiden' onclick='addBlack(this.parentNode, <%- users[i].id %>)'>封鎖</button><br>
              <% }else if(users[i].isFriend==3){ %>
              <!--<div class='status'>好友&nbsp&nbsp</div>--><button type='button' class='button' onclick='removeFriend(this.parentNode, "<%- users[i].id %>")'>解除好友</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <button type='button' class='button btnForbbiden' onclick='addBlack(this.parentNode, "<%- users[i].id %>")'>封鎖</button><br>
              <% } %>
          </span>
      </div>
                  <!-- <div class="friendRight">
                    <% if(users[i].addressCity&&users[i].addressCity!=""){ %>

                    <div style='display:inline-block; font-size: 22px; margin-top:10px;width: 100%'>來自<%- users[i].addressCity %> </div><br>
                    <% } 
                    var pd = users[i].primaryDisease;
                    if(pd!=""&&(pd=="D"||pd=="S"||pd=="RN"||pd=="P"||pd=="F")) { %>
                    <div style="display:inline-block; font-size: 22px;margin-top:10px; width: 100%">
                        <% if(users[i].type=="D"){ %>

                        主治 <%- diseaseList[users[i].primaryDisease] %>
                        <% }else if(users[i].type=="S"){ %>
                        主治 <%- diseaseList[users[i].primaryDisease] %>
                        <% }else if(users[i].type=="RN"){ %>
                        主治 <%- diseaseList[users[i].primaryDisease] %>
                        <% }else if(users[i].type=="P"){ %>
                        患有 <%- diseaseList[users[i].primaryDisease] %>
                        <% }else if(users[i].type=="F"){ %>
                        照顧 <%- diseaseList[users[i].primaryDisease] %> 患者 
                        <% } %>
                    </div><br>
                    <% } if(users[i].age!=-1) { %>
                    <div style="display:inline-block; font-size: 22px; margin-top:10px; width: 100%"><%- users[i].age %>歲</div>
                    <% } %>
                </div> -->
            </div>
            <% } %>
            <% } else { %>
            找不到符合搜尋條件的人
            <% } %>   
        </div>
        <br>
        <center>
            <div id="more">
                <% if (hasNext) { %>
                <button type="button" class="button" onclick="search(<%- page %>)">顯示更多人</button>
                <% } %>
            </div>
        </center>
    </div>
</div>