<!DOCTYPE html>
<html>
  <head>
    <title>作夥ZOHUE--台灣頭頸癌病友加油站</title>
    <link rel="icon" href="/images/img_public/favicon2.ico" type="image/x-icon">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="ZOHUE,作夥,頭頸癌病友加油站,頭頸,癌病友,加油站">
    <meta name="description" content="台灣頭頸癌病友加油站 大家一起作夥 分享生活點滴 ">
    <% if(typeof(metaTitle)!='undefined') {%>
      <meta property="og:title" content="<%=metaTitle%>">
    <% } else { %>
      <meta property="og:title" content="ZOHUE作夥台灣頭頸癌病友加油站">
    <% } %>
    <meta property="og:site_name" content="ZOHUE作夥台灣頭頸癌病友加油站">
    <% if(typeof(metaUrl)!='undefined') {%>
      <meta property="og:url" content="<%=metaUrl%>">
    <% } else { %>
      <meta property="og:url" content="http://zohue.im.ntu.edu.tw/home">
    <% } %>
    <meta property="og:image" content="http://zohue.im.ntu.edu.tw/images/img_public/logoThumb.png">
    <% if(typeof(metaDescription)!='undefined') {%>
      <meta property="og:description" content="<%=metaDescription%>">
    <% } else { %>
      <meta property="og:description" content="台灣頭頸癌病友加油站 大家一起作夥 分享生活點滴 ">
    <% } %>
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    
    <!--STYLES END-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <!--<script src="/js/js_public/jquery-1.11.3.min.js"></script>-->
    <script src="/js/js_public/jquery-1.10.2.js"></script>
    <!--<script src="/js/js_public/jquery-ui.js"></script>-->
    <script src="/js/js_public/jquery-ui.min.js"></script>
    <!-- 問題: jquery-ui 可能會讓使用到 crop-avatar.js 的頁面執行兩次頁面讀取 -->
    <script src="/js/js_public/jquery.scrolly.min.js"></script>
    <script src="/js/js_public/jquery.scrollzer.min.js"></script>
    <script src="/js/js_public/topControl.js"></script>
    <script src="/js/js_public/bootstrap.min.js"></script>
    <script src="/js/js_public/bootbox.min.js"></script>
    <script type="text/javascript"src="/js/js_home/jquery.jcarousel.min.js"></script>
    <script type="text/javascript"src="/js/js_home/jcarousel.basic.js"></script>
    <script type="text/javascript" src="/js/js_home/jquery.jcarousel.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68088983-1', 'auto');
      ga('send', 'pageview');
      
    </script>
    <link rel="stylesheet" href="/styles/css_public/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css_public/bootstrap-responsive.css">
    <link rel="stylesheet" href="/styles/css_public/topControl.css">
    <link rel="stylesheet" href="/styles/css_public/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/styles/css_home/jcarousel.basic.css">
    <style>
    /*@media screen and (max-width: 400px) {
    .nav-tabs.nav-stacked > li > a {
      border: 1px solid #DDD;
      background-color: #eeeddd;
    }
    .nav-tabs.nav-stacked > li > a:hover,
    .nav-tabs.nav-stacked > li > a:focus {
      border-color: #ddd;
      background-color: #eeebbb;
    }}*/
    </style>
    <!-- Loop through all scripts and stylesheets that passed from routes -->
    <% if (scripts) { %>
        <% for (i = 0; i < scripts.length; i++) { %>
            <script src="<%- scripts[i] %>"></script>
        <% } %>
    <% } %>
    <% if (stylesheets) { %>
        <% for (i = 0; i < stylesheets.length; i++) { %>
            <link rel="stylesheet" href="<%- stylesheets[i] %>">
        <% } %>
    <% } %>
  </head>

   <body id="body">
   <div class="fb-root"></div>
   <div class="mobile_modalBox"></div>
   <div id="layout">
    <div class="row-fluid" id="topbar">
      <div id="logoDiv" class="span4">
      <!-- <div class="col-md-4 col-sm-12 col-xs-12"> -->
        <a href="/home" style="text-decoration: none;"><img id="logo" src="/images/img_public/new2.png"/></a>
      <!--   <div style="text-align:center; font-size:22px; font-weight: bold; color:#d78961;">台灣頭頸部癌病友作夥加油站！</div> -->
      </div>
      <div class="span8 visible-desktop hidden-phone hidden-tablet">
        <div id="loginSection" style="float: left;">
          帳號:&nbsp;<input type="text" name="LoginAccount" class="l" id="LoginAccount" style="width:150px;">
          &nbsp;密碼:&nbsp;<input type="password" onkeypress="return enterLogin(event);" name="LoginPwd" class="l" id="LoginPwd"  style="width:150px;">
          <button value="登入" id="login" onclick="Login();"><img style="width:24px; height:24px;" src="/images/img_public/login_icon.png"/>&nbsp;登入</button>
          <button value="忘記密碼" id="forget" onclick="window.location.href='/forget'"><img src="/images/img_signup/forgetQ.png" style="width:26px; height:26px;" alt="">&nbsp;忘記密碼</button>
          <button value="臉書登入" id="Fblogin" onclick="fbLogin()"><img src="/images/img_forum/facebook.png" >&nbsp;FB登入</button>
        <!--   <div class="FB col-md-2" >
            <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onlogin="checkLoginState()"></div>

          </div> -->

        </div>
        <div class="row-fluid">
          <div class="span9">
            <div id="profile">
              <div class="row-fluid">  
                <div id="userAlias" class="ff"></div>
                <div class="text-right" style="float:right;">
                  <button value="通知" id="notification" onclick="notification();">&nbsp;通知</button>
                  <a href="/profile">
                    <img id="userimg" src="" alt="Smiley face" height="60px" width="60px">
                  </a>
                </div>
                
              </div>
            </div>
          </div>
          <div class="span3">
            <button value="登出" id="logout" onclick="Logout();"><img style="width:24px; height:24px;" src="/images/img_public/logout_icon.png"/>&nbsp;登出</button>
          </div>
        </div>
      </div>
    </div>

    <!-- menu部份的mobile版 -->
    <div id="mobile_menu" class="row-fluid hidden-desktop visible-phone visible-tablet" style="margin-top: 15px; text-align: center; font-weight: bold;">
      <ul class="nav nav-tabs nav-stacked">
        <li id="mobile_profilepage"><a href="/profile">個人頁面</a></li>
        <li><a id="forum2" href="/frontboard?tab=all&sort=createdAt&order=DESC&page=1&search=">作夥論壇</a></li>
        <li><a href="/proInfo/1">專業知識</a></li>
        <li id="mobile_friends"><a href="/friends">作夥找人</a></li>
        <li id="mobile_setUp" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">個人設定
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="/change">修改會員資料</a></li>
            <li><a href="/changePassword">更換密碼</a></li>
            <!--<li><a href="">隱私權設定</a></li>-->
            <li><a onclick="subscribe();" style="cursor: pointer;">訂閱電子報</a></li>
            <li><a onclick="Logout();" style="cursor: pointer;">登出</a></li>
          </ul>
        </li>
        <li id="mobile_backend"><a href="/backendbackend/home">後台管理</a></li>
        <li id="mobile_fullSignup"><a href="/signup">完整註冊</a></li>
        <li><a href="/gettingStarted">新手上路</a></li>
        <!-- <li data-toggle="collapse" data-target="#mobile_loginArea"><a style="color:rgb(232, 81, 0); font-weight:bold;">登入作夥</a></li> -->
      </ul>
    </div>
    <!-- menu部份的mobile版 -->
    
    <!-- 登入部份的mobile版 -->
    <div id="mobile_loginDiv" class="row-fluid hidden-desktop visible-phone visible-tablet visible-xs"> 
    <!-- <div id="mobile_loginArea" class="row-fluid collapse">    -->
      <div id="mobile_loginSection">
        <div class="row-fluid">
          帳號&nbsp;<br><input type="text" name="mLoginAccount" class="mobile_l" id="mLoginAccount">
        </div>
        <div class="row-fluid">
          密碼&nbsp;<br><input type="password" onkeypress="return enterLogin(event);" name="mLoginPwd" class="mobile_l" id="mLoginPwd">
        </div>
        <div class="row-fluid">
          <button value="登入" id="mobile_login" onclick="Login();"><img style="width:24px; height:24px;" src="/images/img_public/login_icon.png"/>&nbsp;登入</button>
          <button value="臉書登入" id="mobile_fblogin" onclick="fbLogin()"><img style="width:24px; height:24px;" src="/images/img_forum/facebook.png" >&nbsp;FB登入</button>
        </div>
        <div class="row-fluid">
          <button value="忘記密碼" id="mobile_simpleSignup" onclick="window.open('/forget','_self')"><span class="glyphicon glyphicon-eye-open" style="font-size: 20px; color:#533828;">忘記密碼</span></button>
        </div>
         <div class="row-fluid">
          <button value="簡易註冊" id="mobile_simpleSignup" onclick="showSimpleSignup();"><span class="glyphicon glyphicon-edit" style="font-size: 20px; color:#533828;">簡易註冊</span></button>
        </div>
      </div>
      <div id="mobile_profile" class="row-fluid text-center">
        <img id="mobile_userimg" src="" alt="Smiley face" height="30px" width="30px">
        <label id="mobile_userAlias" class="col-sm-7"></label>
         <button value="通知" id="mobile_notification" onclick="notification();">通知</button>
      </div>
    </div>
    <!-- 登入部份的mobile版 -->

    <!--<hr id="hr" class="visible-desktop hidden-phone hidden-tablet">-->

    <!-- menu部份的desktop版 -->
    <div class="visible-desktop hidden-phone hidden-tablet">
      <div id="menu" class="col-md-2">
        <div id="profilePage">
          <a href="/profile" class="item" id="profile_page"><label><span class="glyphicon glyphicon-user" style="color:rgb(211, 106, 1)" aria-hidden="true"></span>&nbsp;個人頁面</label></a>
        </div>
        <a href="/frontboard?tab=all&sort=createdAt&order=DESC&page=1&search=" class="item" id="forum"><label id="forum1"><span class="glyphicon glyphicon-comment" style="color:rgb(129, 108, 88)" aria-hidden="true"></span>&nbsp;作夥論壇</label></a><br>
        <a href="/proInfo/1" class="item" id="proInfo"><label><span class="glyphicon glyphicon-eye-open" style="color:rgb(102, 141, 60)" aria-hidden="true"></span>&nbsp;專業知識</label></a><br>
        <a href="/friends" class="item" id="friends"><label><span class="glyphicon glyphicon-globe" style="color:rgb(1, 151, 172)" aria-hidden="true"></span>&nbsp;作夥找人</label></a>
        <a class="item" id="setUp" data-toggle="collapse" href="#setUpMenu"><label><span class="glyphicon glyphicon-cog" style="color:rgb(0, 121, 150)" aria-hidden="true"></span>&nbsp;個人設定</label></a>
        <div id="setUpMenu" class="collapse">
          <a href="/change" class="setUpItem" id="editProfile" href="/change"> <label>修改會員資料</label> </a><br>
          <a href="/changePassword" class="setUpItem" id="editPW" href="/changePassword"><label>更換密碼</label></a><br>
          <!--<a href="" class="setUpItem"><label>隱私權設定</label></a><br>-->
          <a class="setUpItem" onclick="subscribe();"><label>訂閱電子報</label></a><br>
        </div>
        <a href="/backendbackend/home" class="item" id="backend"><label><span class="glyphicon glyphicon-wrench" style="color:#CE0000" aria-hidden="true"></span>&nbsp;後台管理</label></a>
        <div>
        <a href="/gettingStarted" class="item" id="gettingStarted"><label><span class="glyphicon glyphicon-info-sign" style="color:rgb(211, 106, 1)" aria-hidden="true"></span>&nbsp新手上路</label></a>
        </div>
        <div id="fullSignup">
          <a class="item"  href="/signup" id="label_complete_signup"><label><img src="/images/img_public/complete_icon.png"/>&nbsp;完整註冊</label></a><br>
        </div>
        <div id="sideBanner">
              <table width="70%" border="0" align="center" cellpadding="2" cellspacing="10" style="
    margin-left: -15px;">
                   <tr>
                      <td>
                        <a href="http://www.ntuh.gov.tw/ENT/default.aspx" onclick="return recordLink('台大醫院耳鼻喉部');" target="_blank">
                        <img src="/images/img_public/ntuh_logo.gif" alt="臺大醫院耳鼻喉部" title="臺大醫院耳鼻喉部"  border="0" /></a></td>
                    </tr>

                   <tr>
                    <td>
                        <a href="http://www.cancerptf.org.tw" onclick="return recordLink('癌症防治基金會')" target="_blank">
                        <img src="http://www.ecancer.org.tw/images/banners/cancerptf_180_60.jpg" alt="癌症防治基金會"  border="0" title="癌症防治基金會" /></a>
                      </td>
                    </tr>   

<!--                   <tr>
                    <td><div align="center">
                      <a href="http://www.crm.org.tw" target="_blank">
                      <img src="http://www.ecancer.org.tw/banner/180_CRM_BANNER.gif"  alt="癌症資源網" title="癌症資源網" border="0" />
                      </a></td>
                  </tr> -->
                  
                  <tr>
                      <td><div align="center">
                        <a href="http://www.thns.org.tw/" onclick="return recordLink('台灣頭頸部腫瘤醫學會')" target="_blank">
                         <img src="/images/img_public/台灣頭頸部腫瘤醫學會.jpg" alt="台灣頭頸部腫瘤醫學會"  title="台灣頭頸部腫瘤醫學會" border="0" /> </td>
                  </tr>    
                  
                  
                  <tr>
                      <td><div align="center">
                        <a href="http://www.cancer.org/docroot/home/index.asp" onclick="return recordLink('美國癌症協會')" target="_blank">
                         <img src="http://www.ecancer.org.tw/images/banner_acs20090313.jpg" alt="美國癌症協會"  title="美國癌症協會" border="0" /> </td>
                  </tr>                                                           

                  <tr>
                      <td><div align="center">
                        <a href="http://www.sunshine.org.tw/" onclick="return recordLink('陽光基金會')" target="_blank">
                         <img src="/images/img_public/陽光基金會.jpg" alt="陽光基金會"  title="陽光基金會" border="0" /> </td>
                  </tr>
                  <tr>
                      <td><div align="center">
                        <a href="http://www.ecancer.org.tw/" onclick="return recordLink('癌症希望基金會')" target="_blank">
                         <img src="/images/img_public/癌症希望基金會.jpg" alt="癌症希望基金會"  title="癌症希望基金會" border="0" /> </td>
                  </tr>
                </table>
            </div>
      </div>
    </div>

    <div id="signup" class="col-md-3 col-sm-12 col-xs-12 hidden-phone" style="font-size:30px;">
        <h1 style="font-size:30px;" >簡易註冊</h1>
        <form id="simpleSignUp">
          暱稱<label id="checkAlias" class="check"></label><br>
          <input type="text" name="UserAlias" class="s" id="UserAlias" placeholder="請輸入暱稱"><br>
          <div id="FBlogin">
          帳號<label id="checkAccount" class="check"></label><br>
          <input type="text" name="UserAccount" class="s" id="UserAccount" placeholder="請輸入帳號"  onchange="checkIfAccountExist();" onkeyup="checkIfAccountExist();"><br>
          密碼<label id="checkPwd" class="check"></label><br>
          <input type="password" name="UserPwd" class="s" id="UserPwd" placeholder="請輸入密碼" onchange="checkPwd();" onkeyup="checkPwd();"><br>
          確認密碼<label id="checkPwdConfirm" class="check"></label><br>
          <input type="password" name="UserPwdConfirm" class="s" id="UserPwdConfirm" placeholder="請再輸入確認密碼" onchange="checkPwd();" onkeyup="checkPwd();"><br>
          </div>
          E-mail（建議填寫）<label id="checkEmail" class="check"></label><br><input type="text" name="UserEmail" placeholder="請輸入您的電子郵件地址" class="s" id="UserEmail"><br>
          <input type="hidden" name="FB_id" id="FB_id" value="1">
          <input type="hidden" name="UserGender" id="UserGender">
          <input type="hidden" name="fname" id="fname">
          <input type="hidden" name="lname" id="lname">
          身分<label id="checkType" class="check"></label><br>
          <select name="UserType" class="s" id="UserType">
            <option value='P'>病友</option>
            <option value='F'>家屬</option>
            <option value='N'>一般民眾</option>
          </select><br>
          <button type="button" id="submit" class="b" onclick="check();"><img src="/images/img_forum/check_icon.png"/>確認送出</button>
        </form>
        <br><br><br>  
        <div id="e-newsletter" >
          <h1 style="font-size:30px;">訂閱電子報</h1>
          <div style="margin:15px;">
            <input class="s" id="subscribeEmail" placeholder="請輸入您的電子郵件地址">
            <button type="button" class="b" id="subscribe" onclick="subscribe();"><img src="/images/img_forum/check_icon.png"/>訂閱</button>
          </div>
        </div>
        <br><br>
    </div>

    <%- body %>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--
      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript
    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </div>
  </body>
</html>
