 <!DOCTYPE HTML>
 <div class="container-fluid col-md-8" id="post-form-main">
  <h1 style="margin-left:10px; color:black; font-size:26px;">癌病友論壇</h1>
  <div class="row-fluid">
    <div class="" id="artContent">
      <div class="row-fluid text-right visible-desktop hidden-phone visible-tablet">

        <%if(articleList[0].board==21){%>
        <button value="回到專業知識" id="backToList" class="b" onclick="backToBoard();"  id="proInfo"><img src="/images/img_forum/view_icon.png"/> 回到專業知識</button>

        <% }else {%>
        <button value="瀏覽其它文章" id="backToList" class="b" onclick="backToList(<%=articleList[0].board%>);"><img src="/images/img_forum/view_icon.png"/> 瀏覽其他文章</button>
        <% }%>
        <% if(isAuthor){ %>
        <button value="刪除文章" id="deleteArticle" class="b" onclick="deleteArticle(<%=articleList[0].board%>);">
          <img src="/images/img_forum/delete_icon.png"/> 刪除文章
        </button>
        <button value="編輯文章" id="editArticle" class="b" onclick="editArticle();">
          <img src="/images/img_forum/post_icon.png"/> 編輯文章
        </button>
        <% } %>
        <button value="轉寄文章" id="sendEmail" class="b" onclick="sendEmail()"><span class="glyphicon glyphicon-envelope" ></span>轉寄文章</button>
        <button value="分享至臉書" id="shareFB" class="b" onclick="shareFB()"><img id="FB"src="/images/img_forum/facebook.png" > 分享至臉書</button>
        <button value="追蹤" id="follow" class="b" onclick="follow();">
          <img src="/images/img_forum/follow.png" style="width:18%">
          <% if(isFollower){ %> 取消追蹤<% }else{ %> 追蹤文章<% } %>
        </button>
      </div>

      <!--mobile-->


      <div class="row-fluid hidden-desktop visible-phone hidden-tablet" style="height: 50px;">
        <button value="瀏覽其它文章" id="backToList" class="b" onclick="backToBoard();"><img src="/images/img_forum/view_icon.png"/>瀏覽其他</button>
        <button value="分享至臉書" id="shareFB" class="b" onclick="shareFB()"><img id="FB"src="/images/img_forum/facebook.png" > 分享</button>
        <button value="轉寄文章" id="sendEmail" class="b" onclick="sendEmail()"><span class="glyphicon glyphicon-envelope" ></span> 轉寄</button> <br>
          <!-- <button value="編輯文章" id="mobile_editArticle" class="b" onclick="editArticle();" style="display:block; width:auto;"><img src="/images/img_forum/post_icon.png"/>&nbsp; 編輯</button>
          <button value="刪除文章" id="mobile_deleteArticle" class="b" onclick="deleteArticle();" style="display:block; width:auto;"><img src="/images/img_forum/delete_icon.png"/> 刪除</button>   -->
        </div>  

        <!--mobile-->

        <div class="row-fluid" id="articlediv"  style="margin-top:10px;">
          <div id="article">
            <div id="adj_tr">

              　            
              　            <div class='col-md-2' id="articleTitle" ><%= articleList[0].title %></td></div>
              <% if(isAuthor){ %>　         
              <div id="articleData" style="height:140px">
               <% } else{%> 
               <div id="articleData">
                <%}%>  
                <div id="articleAvatar"  class='col-md-2' style='width:50px;'>
                  <img style='float: left; 'src='<%= articleList[0].author.img %>'>
                </div>
                <div valign='bottom' >
                  發表人：<a href='/profile/?<%= articleList[0].author.id %>'><%= articleList[0].author.alias %></a>
                  <% if(articleList[0].author.type=="S"){ %> 社工師
                  <img class='imgAuthorType' src='/images/img_forum/sw_icon.png' title='已認證社工師'/>
                  <% }else if(articleList[0].author.type=="D"){ %> 醫師
                  <img class='imgAuthorType' src='/images/img_forum/doctor_icon.png' title='已認證醫師'/>
                  <% }else if(articleList[0].author.type=="RN"){ %> 護理師
                  <img class='imgAuthorType' src='/images/img_forum/sw_icon.png' title='已認證護理師'/>
                  <% } else{ %>
                  <img class='imgAuthorType' src='/images/img_forum/user_icon.png'/>
                  <% } %>
                </div>

                <div valign='bottom' style='padding:0px 0px 7px 20px;'>發表時間：<%= getTimeString(articleList[0].createdAt) %></div>
                <div valign='bottom' style='padding:0px 0px 7px 20px; '>更新時間：<%= getTimeString(articleList[0].lastResponseTime) %>
                </div>
                <% if(isAuthor){ %>　 
                <button  valign='bottom' value="編輯文章" id="mobile_editArticle" class="b" onclick="editArticle();" style="display:block; width:auto;"><img src="/images/img_forum/post_icon.png"/>&nbsp; 編輯文章</button>
                <button valign='bottom'  value="刪除文章" id="mobile_deleteArticle" class="b" onclick="deleteArticle();" style="display:block; width:auto;"><img src="/images/img_forum/delete_icon.png"/> 刪除文章</button>  
                <%}%> 
              </div>



              <div><div colspan="5" id="articleContent"><%- articleList[0].content %></div></div>
              <div>


                <div colspan="5" >

                  <table style="margin:10px 0px 10px 0px;">
                    <tr>
                      <td id="niceArticle">
                        <% if(login){ if(isNice==true){ %>
                        <button value='收回' onclick='cancelNice();'><img src='/images/img_forum/good2_icon.png'/>&nbsp收回</button>
                        <% }else if(isNice==false){ %>
                        <button value='推薦' onclick='clickNice();'><img src='/images/img_forum/good_icon.png'/>&nbsp推薦</button>
                        <% }} %>
                      </td>
                      <td id="niceCount">有 <%= lnicer %> 人推薦</td>
                    </tr>
                    <tr>
                      <td id="report">
                        <% if(login){ if(isReport){ %>
                        <button value='收回' onclick='cancelReport()'><img src='/images/img_forum/bad2_icon.png'/>&nbsp收回</button>
                        <% }else{ %>
                        <button value='檢舉' onclick='clickReport()'><img src='/images/img_forum/bad_icon.png'/>&nbsp檢舉</button>
                        <% }} %>
                      </td>
                      <td id="reportCount">有 <%= reportCount %> 人檢舉</td>
                    </tr>
                  </table>
                </div>
              </div>

            </div>
          </div>
          <% if(responseList.length!=0){ %>
          <div class="row-fluid" id="commentListDiv">

            <div id="commentList">
              <% for(i=0; i<responseList.length; i++){ %>


              <div style=" margin: 10px 0px 50px 0px;     border-width: thin; border-top-color: #cccccc; border-top-style: solid;" id='responseID<%= responseList[i].id %>'>
                <div style="margin-top: 30px;">
                  <div valign=top  class='col-md-2 comment_avatar'>
                    <img style="float: left; " src='<%= responseList[i].author.img %>'>
                  </div>
                  
                  <div style="font-size:15px;">
                    <label>
                      <a href='/profile/?<%= responseList[i].author.id %>'>
                        <%= responseList[i].author.alias %></a>
                        <% if(responseList[i].author.type=="S"){ %> 社工師
                        <img class='imgAuthorType' src='/images/img_forum/sw_icon.png' title='已認證社工師'/>
                        <% }else if(responseList[i].author.type=="D"){ %> 醫師
                        <img class='imgAuthorType' src='/images/img_forum/doctor_icon.png' title='已認證醫師'/>
                        <% }else if(responseList[i].author.type=="RN"){ %> 護理師
                        <img class='imgAuthorType' src='/images/img_forum/sw_icon.png' title='已認證護理師'/>
                        <% } else{ %>
                        
                        <img class='imgAuthorType' src='/images/img_forum/user_icon.png'/>
                        <% } %>

                      </label>
                    </div>
                    <div id="comment_createdAt" style="font-size:15px;" class='col-md-2'>
                    <label><%= getTimeString(responseList[i].createdAt) %></label>
                    </div>
                  </div>

                  <div>
                    <div id="comment_content">
                      <div class="comment_origin_content">
                        <% if(responseList[i].comment.trim()==""){ %>
                        <label class='comment_content event_img'><%- responseList[i].comment_image %></label>
                        <% }else if(responseList[i].comment_image.indexOf("images")==-1){ %>
                        <label class='comment_content event_text_r'><%- responseList[i].comment %></label>
                        <% }else{ %>
                        <label class='comment_content event_text_r event_img'><%- responseList[i].comment %>
                          <br>
                          <hr class="row-fluid event_img" id='hr'><%- responseList[i].comment_image %>
                        </label>



                        <% } %>

                      </div>
                      
                      <div class="container-fluid container_r_edit" id="container_r_edit<%= responseList[i].id %>">
                        <% if(responseList[i].comment_image == ""){ %>
                        <div class="row-fluid" id="div_r_edit_content<%=  responseList[i].id %>" contenteditable="true" style=""><%-  responseList[i].comment %></div>
                        <div class="row-fluid div_r_edit_img" id="div_r_edit_img<%= responseList[i].id %>" style="display:block;"></div>
                        <% }else{ %>
                        <div class="row-fluid" id="div_r_edit_content<%= responseList[i].id %>" contenteditable="true" ><%- responseList[i].comment %></div>
                        <div class="row-fluid div_r_edit_img" id="div_r_edit_img<%= responseList[i].id %>" style="display:block;"><%- responseList[i].comment_image %></div>
                        <% } %>
                        <button value="插入圖片" id="editRImage" class="b" name="<%= responseList[i].id %>">
                          <img src="/images/img_forum/images_icon.png">插圖
                        </button>
                        <button value="編輯完成" id="editRSend" class="b" name="<%= responseList[i].id %>">
                          <img src="/images/img_forum/check_icon.png">完成
                        </button>

                        <button value="取消編輯" id="editRCancel" class="b" name="<%=responseList[i].id %>">
                          <span class="glyphicon glyphicon-remove" style="color:black;top:4px;" aria-hidden="true"></span> 取消
                        </button>                      
                      </div>

                    </div>
                  </div>
                  
                  <% if(login) { if(responseNice[i]){ %>
                  <div>
                    <div class="comment_row">
                      <div id='response<%= responseList[i].id %>' class="col-md-4" style="float:left;">

                        <button style='margin-right:10px; margin-left: -10px' value='收回' class='n ' onclick='notNiceResponse(<%= responseList[i].id %>);'>
                          <img style='width:24px; height:24px;' src='/images/img_forum/good2_icon.png'/>&nbsp收回
                        </button>有
                        <label id="N_res_nice<%= responseList[i].id %>"><%= responseNiceCount[i] %></label>&nbsp人推薦
                      </div>

                      <%if (loginid==responseList[i].author.id){  %>

                      <div class="btn-group col-md-2" style="float:none;">
                       <button type="button" class="n" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-down" style="color:black;top:4px;" aria-hidden="true"></span></button>                          
                       <ul class="dropdown-menu" id="comment-edit" role="menu">

                        <li><a class="comment_edit" name="<%= responseList[i].id %>">編輯</a></li>
                        <li><a class="comment_del" name="<%= responseList[i].id %>">刪除</a></li>
                      </ul>
                    </div>
                    <%}%>              
                  </div>
                </div>
                <% } else { %>
                <div>
                  <div class="comment_row">
                    <div id='response<%= responseList[i].id%>' class="col-md-4" style="float:left;">
                      <button style='margin-right:10px;margin-left: -10px' value='推薦' class='n' onclick='niceResponse(<%= responseList[i].id %>);'>
                        <img src='/images/img_forum/good_icon.png'/>&nbsp推薦
                      </button>有
                      <label id="N_res_nice<%= responseList[i].id %>"><%= responseNiceCount[i] %></label>&nbsp人推薦
                    </div>
                    <%if (loginid==responseList[i].author.id){  %>

                    <div class="btn-group col-md-2" style="float:none;">
                     <button type="button" class="n" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-down" style="color:black;top:4px;" aria-hidden="true"></span></button>                          
                     <ul class="dropdown-menu" id="comment-edit" role="menu">

                      <li><a class="comment_edit" name="<%= responseList[i].id %>">編輯</a></li>
                      <li><a class="comment_del" name="<%= responseList[i].id %>">刪除</a></li>
                    </ul>
                  </div>
                  <%}%>  
                </div>
              </div>
              <% }} else { %>
              <div>
                <div class="comment_row">
                  <div id='response<%= responseList[i].id %>'>


                    有&nbsp<label id="N_res_nice<%= responseList[i].id %>"><%= responseNiceCount[i] %></label>&nbsp人推薦
                  </div>
                </div>
              </div>
              <% } %>
            </div>
            <% } %>

          </div>
        </div>
        <% } %>
        
      </div>
      <div class="row-fluid" style="margin-top:20px;">
          <div id="leaveMessage"><label style="font-size:22px;   margin-left: 10px;">留個言吧！</label><br>
            <!-- <textarea type="text" name="comment" class="s" id="comment"> </textarea> -->

            <div class="timeline_post_block">
              <div contentEditable="true" name="comment" class="s" id="comment"></div>
              <div contentEditable="false" name="comment_image" class="s" id="comment_image">
                 <div class="clear" id="comment_clear"></div>
                </div>
            </div>

            <button value="送出留言" id="commentSend" class="b" onclick="leaveComment();"><img src="/images/img_forum/check_icon.png"/> 送出留言</button>
            <button value="插入圖片" name="image" id="image" class="b"><img src="/images/img_forum/images_icon.png"/> 插入圖片</button>
          </div>
        </div>
      <!-- Cropping modal -->
      <div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <form class="avatar-form" method="post" action="/imgupload_post" enctype="multipart/form-data">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="avatar-modal-label">上傳相片（讀者點擊縮圖後即可看到原圖）</h4>

                <div class="spinner">
                  <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                  </div>
                  <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                  </div>
                  <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                  </div>
                </div>

              </div>
              <div class="modal-body">
                <div class="avatar-body">
                  <!-- Upload image and data -->
                  <div class="avatar-upload">
                    <input class="avatar-src" name="avatar_src" type="hidden">
                    <input class="avatar-data" name="avatar_data" type="hidden">
                    <input class="avatar-input" id="avatarInput" name="avatar_file" type="file">
                  </div>
                  <!-- Crop and preview -->
                  <div class="row">
                    <div class="col-md-9">
                      <div class="avatar-wrapper"></div>
                    </div>
                    <div class="col-md-3">
                      <div class="avatar-preview preview-lg"></div>
                      <div class="avatar-preview preview-md"></div>
                      <div class="avatar-preview preview-sm"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="imgupload_btn" id="avatar-save" type="submit"><img src="/images/img_forum/check_icon.png"/> 上傳</button>
                <button class="imgupload_btn" type="button" data-dismiss="modal"><img src="/images/img_forum/cancel_icon.png"/> 關閉</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <!-- image modal -->
    <div class="modalBox"></div>


  </div>