<!DOCTYPE='HTML'>
<div id="content">
<h2 id="title" style="color:black; margin-left:0px;">專業知識</h2>
<div class="input-group">
      <input type="text" class="form-control SearchBar" placeholder=" 搜尋專業文章">
      <span class="input-group-btn">
        <button class="btn btn-defaul SearchButton" type="button">
            <span class=" glyphicon glyphicon-search SearchIcon" ></span>
        </button>
      </span>
    </div>
 <% for (var i=0;i<list.length;i++){ %>
 <div class='not' id='<%=list[i].id%>'>

    <div class='message'>
        <a class="show-info" title="<%=list[i].link %>" target='_blank' style='text-decoration:none; color:#336699;'>
            <%-list[i].title %> </a><br>
            <span id='cat'>[<%-list[i].classification%> – <%-list[i].cancerType%>]</span><br>
            <div id='date'><%-list[i].date%></div>
            <button class='button' onclick='location.href="<%=list[i].articleURL%>";'>前往討論</button>
        </div>
        <div class="right">
            <!-- <div class='from'><%-list[i].note%></div> -->
            <div class='author'>
               <%-list[i].author%>
           </div>
           <div class='image'>
            <center>
               <% if(list[i].author.indexOf("社工師")!=-1){ %> 
               <img class='imgAuthorType' src='/images/img_forum/sw_icon.png'/>
               <% }else if(list[i].author.indexOf("醫師")!=-1){ %> 
               <img class='imgAuthorType' src='/images/img_forum/doctor_icon.png'/>
               <% }else if(list[i].author.indexOf("護理師")!=-1 || list[i].author.indexOf("個案")!=-1){ %>
               <img class='imgAuthorType' src='/images/img_forum/sw_icon.png'/>
               <% } else{ %>
               <img class='imgAuthorType' src='/images/img_forum/user_icon.png'/>
               <% } %>
            </center>
           </div>
       </div>  
   </div>
   <%}%>
</div>