<!DOCTYPE='HTML'>
<div class="btn-group">
 <button type="button" class="btn btn-top btn-top-l" onclick="window.location='/forumView'"><span class="glyphicon glyphicon-list-alt"></span> 選擇看板 </button>
 <button type="button" class="btn btn-top btn-top-r" onclick="postArticle();"><span class="glyphicon glyphicon-pencil"></span> 發表文章 </button>
 <!-- <button type="button" class="btn btn-top"><span class="glyphicon glyphicon-envelope"></span> 最新公告 </button> -->
</div>

<div id="content">
  <h2 id="title" style="color:black; margin-left:0px;">
    <%if(boardTitle.indexOf("總")>=0){%>
      作夥病友論壇—<%=boardTitle%>
      <%}else{%>
      作夥病友論壇<br><%=boardCateTitle%>—<%=boardTitle%>
        <%}%>
    </h2>


    <div class="input-group">
      <input id="searchWord" type="text" class="form-control SearchBar" placeholder=" 搜尋論壇文章">
      <span class="input-group-btn">
        <button id="search" class="btn btn-defaul SearchButton" type="button">
          <span class=" glyphicon glyphicon-search SearchIcon" ></span>
        </button>
      </span>
    </div>


    <% for (var i=0;i<articleList.length;i++){ %>
    <div class='not' id='<%=articleList[i].id%>'>

      <div class='message'>
        <a class="show-info" <%=articleList[i].link %> target='_self' style='text-decoration:none; color:#336699;'>
          <%-articleList[i].title %> </a><br>
          <!-- <span id='cat'>[<%-articleList[i].classification%>]</span><br> -->
          <div id='date'><%-articleList[i].postTime%></div>
        </div>
        <div class="right">
         <div class='image'>
          <center>
            <img src='<%=articleList[i].author.img%>' style='height:50px; width:50px;'>
          </center>
        </div>
        <div class='author'>
         <a href='/profile?<%=articleList[i].author.id%>'><%=articleList[i].author.alias%></a>
         <%-articleList[i].authorType%>
       </div>
     </div>  
   </div>
   <%}%>
 </div>