<!DOCTYPE='HTML'>
<div id="content">
  <h2 id="title" style="color:black; margin-left:0px;">
    <%if(boardTitle.indexOf("總")>=0){%>
    <span style='cursor: pointer;' onclick="window.location.assign('/frontboard?tab=all&sort=createdAt&order=DESC&page=1&search=')">作夥病友論壇—<%=boardTitle%>
      <%}else{%>
      <span style='cursor: pointer;' onclick="window.location.assign('/board-<%=board%>?tab=all&sort=lastResponseTime&order=DESC&page=<%=page%>&search=')">作夥病友論壇
        <br><%=boardCateTitle%>—<%=boardTitle%>
        <%}%>
      </span>
    </h2>

    <div class="input-group">
      <input id="searchWord" type="text" class="form-control SearchBar" placeholder=" 搜尋論壇文章">
      <span class="input-group-btn">
        <button id="search" class="btn btn-defaul SearchButton" type="button">
          <span class=" glyphicon glyphicon-search SearchIcon" ></span>
        </button>
      </span>
    </div>
<!-- 
  <nav id="navbar-example" class="navbar navbar-default navbar-static">
          <ul id="m_post" class="nav nav-pills navbar-right" role="tablist">
            <li><a id="post" onclick="postArticle();" style='margin:5px 5px 5px 5px; padding: 5px;background-color: #F19766; cursor: pointer;'><span class='glyphicon glyphicon-pencil'></span> 發表文章</a></li>
          </ul>
          
          <ul id="boardlist" class="nav nav-pills" role="tablist">
            <% for(var i=1; i<=boardsCateList.length; i++) { %>
            <li><a id='drop<%=i%>' href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'><%=boardsCateList[i-1].title%><span class='caret'></span></a>
              <ul id='menu<%=i%>' class='dropdown-menu' aria-labelledby='drop<%=i%>'>
                <% for(var j=0;j<boardsCateList[i-1].board.length;j++) { %>
                <li><a href='/board-<%=boardsCateList[i-1].board[j].id%>?tab=all&sort=lastResponseTime&order=DESC&page=1&search='><%=boardsCateList[i-1].board[j].title%></a></li>
                <% } %>
              </ul></li>
              <% } %>
            </ul>

            <ul id="d_post" class="nav nav-pills navbar-right" role="tablist">
              <li><a id="post" onclick="postArticle();" style='margin:5px 5px 5px 5px; padding: 5px;background-color: #F19766; cursor: pointer;'><span class='glyphicon glyphicon-pencil'></span> 發表文章</a></li>
            </ul>&nbsp;
         

        </div>
      </nav> -->


      <% for (var i=0;i<articleList.length;i++){ %>
      <div class='not' id='<%=articleList[i].id%>'>

        <div class='message'>
          <a class="show-info" title="<%=articleList[i].link %>" target='_blank' style='text-decoration:none; color:#336699;'>
            <%-articleList[i].title %> </a><br>
            <span id='cat'>[<%-articleList[i].classification%>]</span><br>
            <div id='date'><%-articleList[i].postTime%></div>
          </div>
          <div class="right">
           <div class='image'>
            <center>
              <img src='<%=articleList[i].author.img%>' style='height:50px; width:50px;'>
            </center>
          </div>
          <div class='author'>
           <a href='/profile?<%=articleList[i].author.id%>'><%=articleList[i].author.alias%></a>
           <%-articleList[i].authorType%>
         </div>
       </div>  
     </div>
     <%}%>
   </div>